.bodyStyle {
    background: #383838 url("./images/brcc_bg.png") no-repeat right top;
    margin: 12px;
}

h1, h2, h3, h4, h5, h6, p, span, li, a {
    font-family: "Gill Sans", sans-serif;
    color: white;
}

p {line-height: 125%;}

a.nav {
    background-color: chocolate;
    display: inline-block;
    border: none;
    padding:7px;
    margin-top:3px;
    text-align: center;
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;

a.navon {
    background-color: #ff8c00;
    display: inline-block;
    border: none;
    padding:7px;
    margin-top:3px;
    text-align: center;
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

a.nav:hover {
    color: black;
    text-decoration: none;
    background-color: #ffffff;
}