.bodyStyle {
    background: #383838 url("./images/brcc_bg.png") no-repeat right top;
    margin: 12px;
}

h1, h2, h3, h4, h5, h6, p, span, li, a {
    font-family: "Gill Sans", sans-serif;
}

button {
    height:24px;
    padding: 9px;
    background: #b8860b;
}