.bodyStyle {
    background: #383838 url("./images/brcc_bg.png") repeat-x right top;
    margin: 12px;
}

div, h1, h2, h3, h4, h5, h6, p, span, li, a {
    font-family: Arial, sans-serif;
    color: black;
}

.h3 {
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    size:14px;
}

.flexbox-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #858585;
    min-height: 160px;
    margin-bottom:2px;
}

.flexbox-container-a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #858585;
    min-height: 75px;
    margin-bottom:2px;
}

.flexbox-item-1 {
    flex: none;
    flex-shrink: 0;
    width: 310px;
    color: black;
    padding: 9px;
    margin: 9px;
}

.flexbox-item-1a {
    flex: none;
    flex-shrink: 0;
    width: 310px;
    color: black;
    padding: 9px;
    margin: 9px;
    background: #858585 url("./images/keithMcLeod.png") no-repeat right top;
}

.flexbox-item-2 {
    flex-grow: 2;
    flex-basis: 100;
    color: black;
    padding: 9px;
    margin: 9px;
}

.topHeader {color: chocolate;}

p, span {
    line-height: 150%;
    color: black;
}

.white {color:white;}

a.nav {
    background-color: chocolate;
    display: inline-block;
    border: none;
    padding: 7px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

a.nav:hover {
    text-decoration: none;
    background-color: #ffffff;
}

.dark {
    background-color: #858585;
    padding: 12px;
}
